<div class="im-div">
  <select class="im-inputSelect" id="especialidades">
    <option value="0">Todas Especialidades</option>
    <option value="1">Anestesiologia</option>
    <option value="2">Cardiologia</option>
    <option value="3">Cardiologia Pediátrica</option>
    <option value="4">Cirurgia Cardiotorácica</option>
    <option value="5">Cirurgia Plástica</option>
    <option value="6">Angiologia</option>
    <option value="7">Cirurgia Vascular</option>
    <option value="8">Dermatologia</option>
    <option value="9">Endocrinologia</option>
    <option value="10">Estomatologia</option>
    <option value="11">Fisiatria e Reabilitação</option>
    <option value="12">Gastrenterologia</option>
    <option value="13">Imunologia Clínica</option>
    <option value="14">Imuno-Hemoterapia</option>
    <option value="15">Infecciologia</option>
    <option value="16">Medicina Nuclear</option>
    <option value="17">Nefrologia</option>
    <option value="18">Neurocirurgia</option>
    <option value="19">Neurorradiologia</option>
    <option value="20">Oftalmologia</option>
    <option value="21">Oncologia</option>
    <option value="22">Ortopedia</option>
    <option value="23">Otorrinolaringologia</option>
    <option value="24">Patologia Clínica</option>
    <option value="25">Pneumologia</option>
    <option value="26">Radiologia</option>
    <option value="27">Reumatologia</option>
    <option value="28">Urologia</option>
  </select>
</div>
