<!doctype html>
<html lang="pt-br">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <!-- <link rel="icon" href="../../../../favicon.ico"> -->

  <title>Exemplo de navbar fixo ao topo, usando Bootstrap.</title>

  <!-- Principal CSS do Bootstrap -->
  <link href="/css/bootstrap.min.css" rel="stylesheet">

  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.9.0/css/all.css">

  <!-- Estilos customizados para esse template -->
  <link href="/css/navbar-top-fixed.css" rel="stylesheet">
</head>

<body>