<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <a class="navbar-brand h1" href="#">
        <span class="fas fa-user-md fa-fw"></span>
        Nome do Usuario</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">
                    <span class="fas fa-user fa-fw"></span>
                    Perfil
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><span class="fas fa-users-medical fa-fw"></span> Pacientes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <span class="fas fa-calendar-alt fa-fw"></span> Agenda</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <span class="fas fa-clipboard-list fa-fw"></span> Histórico</a>
            </li>
        </ul>
        <form class="form-inline mt-2 mt-md-0" action="/user/logout" method="POST">
            <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Sair</button>
        </form>
    </div>
</nav>