<!--Cabecalho-->
<%- include layouts/header.ejs %>

<!-- Começo body - Corpo -->

<!-- Barra de navegação de cima - Usuario -->
<%- include('layouts/nav-bar-paciente', {user: data.nome}) %>

<!-- Começo main -->
<main role="main" class="container">
  <div class="jumbotron">
    <% if(data) { %>
    <h1><%= data.nome %></h1>
    <% } else { %>
    <h1>Usuário</h1>
    <% } %>
    <p class="lead">Seja bem vindo. Este é um simples exemplo para ilustrar como navbars fixos ao topo funcionam. Com
      isso, você verá que enquanto rola a página o navbar permanecerá fixo, ao topo da viewport de seu browser.</p>
  </div>
</main>
<!-- Fim main -->
<!-- Rodapé -->
<%- include layouts/footer.ejs %>