<!doctype html>
<html>
  <body>
    <h1>Cadastro Consulta</h1>
    <form action="/atendimentos/cadastro" method="POST">
      <% if(data) {%>
      <input name="idPac" type="text" value="<%= data.id %>" placeholder="Id paciente" /><br /><% }%>
      <input name="cpf" type="text" placeholder="CPF" /><br />
      <input name="idMed" type="text" placeholder="Id medico" /><br />
      <input name="medico" type="text" placeholder="Nome do médico" /><br />
      <input name="crm" type="text" placeholder="crm" /><br />
      <input name="emissor" type="text" placeholder="emissor" /><br />
      <input name="data" type="date" placeholder="data" /><br />
      <input name="hora" type="time" placeholder="hora" /><br />
      <input type="submit" value="Cadastrar" />
    </form>
    <% if(message) { %>
      <p>
        <label style="color:Red"><%= message %></label>
      </p>
    <%}%>
  </body>
</html>

<!-- justify-content-center -->
<!--
  Id Nome do paciente CPF Nascimento Sexo
  Id Medico CRM Especialidade 
  Data hora
-->
<!-- <div class="row justify-content-center">
    <div class="col-md-12">
      <h4 class="mb-4">Informações da consulta</h4>
  
      <form class="needs-validation" action="" method="POST" novalidate>
  
        <hr class="mb-1">
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="paciente">Nome do Paciente</label>
            <input type="text" class="form-control" id="paciente" name="paciente" placeholder="" value="" required>
            <div class="invalid-feedback">
              É obrigatório inserir um nome válido.
            </div>
          </div>
          <div class="col-md-2 mb-3">
            <label for="sexo">Sexo</label>
            <input type="text" class="form-control" id="sexo" name="sexo" placeholder="" value="" required>
            <div class="invalid-feedback">
              Sexo é obrigatório.
            </div>
          </div>
          <div class="col-md-2 mb-3">
            <label for="nascimento">Data de nascimento</label>
            <input type="text" class="form-control" id="nascimento" name="nascimento" placeholder="" required>
            <div class="invalid-feedback">
              Data de nascimento é obrigatório.
            </div>
          </div>
          <div class="col-md-2 mb-3">
            <label for="cpf">CPF</label>
            <input type="text" class="form-control" id="cpf" name="cpf" placeholder="" required>
            <div class="invalid-feedback">
              CPF é obrigatório.
            </div>
          </div>
        </div>
  
        <hr class="mb-2">
        <div class="row">
  
          <div class="col-md-6 mb-3">
            <label for="medico">Nome do médico</label>
            <input type="text" class="form-control" id="medico" name="medico" placeholder="" value="" required>
            <div class="invalid-feedback">
              É obrigatório inserir um nome válido.
            </div>
          </div>
  
          <div class="col-md-2 mb-3">
            <label for="crm">CRM</label>
            <input type="text" class="form-control" id="crm" name="crm" placeholder="" value="" required>
            <div class="invalid-feedback">
              CRM é obrigatório.
            </div>
          </div>
          <div class="col-md-1 mb-3">
            <label for="emissor">UF</label>
            <input type="text" class="form-control" id="emissor" name="emissor" placeholder="" required>
            <div class="invalid-feedback">
              Emissor é obrigatório.
            </div>
          </div>
          <div class="col-md-3 mb-3">
            <label for="especialidade">Especialidade</label>
            <input type="text" class="form-control" id="especialidade" name="especialidade" placeholder="" required>
            <div class="invalid-feedback">
              Especialidade é obrigatória.
            </div>
          </div>
        </div>
  
        <hr class="mb-2">
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="data">Data</label>
            <input type="date" class="form-control" id="data" name="data" placeholder="" min="2019-06-2019" required>
            <div class="invalid-feedback">
              Por favor, insira data válida.
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <label for="horario">Horário</label>
            <input type="time" class="form-control" id="horario" name="horario" placeholder="" required>
            <div class="invalid-feedback">
              Por favor, insira um horário válido.
            </div>
          </div>
        </div>
  
        <hr class="mb-4">
        <button class="btn btn-primary btn-lg btn-block" type="submit">Agendar</button>
  
      </form>
      <div class="text-center">
        <a class="small" href="/forgot">Esqueceu a senha?</a>
      </div>
      <div class="text-center">
        <a class="small" href="/login">Já possui uma conta?</a>
      </div>
    </div>
  </div> -->