<!doctype html>
<html>
  <body>
    <h1>Cadastro</h1>
    <form action="/user/register" method="POST">
      <input name="username" type="text" placeholder="Login" /><br />
      <input name="password" type="password" placeholder="Senha" /><br />
      <input name="typeUser" type="text" placeholder="Permissão" /><br />
      <input name="nome" type="text" placeholder="Nome" /><br />
      <input name="cpf" type="text" placeholder="CPF" /><br />
      <input name="sexo" type="text" placeholder="Sexo" /><br />
      <input type="submit" value="Cadastro" />
    </form>
    <% if(message) { %>
      <p>
        <label style="color:Red"><%= message %></label>
      </p>
    <%}%>
    <p>
      <a href="/forgot">Esqueceu sua senha?</a>   |   <a href="/">Já possui cadastro?</a>
    </p>
  </body>
</html>