<!--Cabecalho-->
<%- include('layouts/admin-header.ejs', { title: 'Usuário' }); %>

<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2"><%= page %></h1>
    <div class="btn-toolbar mb-2 mb-md-0">
      <button type="button" class="btn btn-sm btn-primary mx-1">
        <span data-feather="plus-square"></span>
        Agendar Consulta
      </button>
      <button type="button" class="btn btn-sm btn-secondary mx-1">
        <span data-feather="search"></span>
        Buscar Médico
      </button>
    </div>
  </div>

  <p class="lead">Subistituir texto. Abaixo temos um exemplo de formulário construído com controles de formulário
    Bootstrap. Cada campo
    obrigatório possui um estado de validação que é ativado quando tenta-se enviar o formulário sem completá-lo.
  </p>

</main>

<!--Rodapé-->
<%- include layouts/admin-footer.ejs %>