<!--Cabecalho-->
<%- include layouts/header.ejs %>

<%- include layouts/nav-bar-top.ejs %>

<%- include layouts/nav-bar-left.ejs %>

<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">
      Pacientes
    </h1>
    <div class="btn-toolbar mb-2 mb-md-0">
      <a class="btn btn-sm btn-primary mx-1" href="/registerP">
        <span class="fas fa-user fa-fw"></span>
        Adicionar 
      </a>
      <button type="button" class="btn btn-sm btn-secondary mx-1">
          <span class="fas fa-user fa-fw"></span>
        Buscar 
      </button>
    </div>
  </div>

  <h3> Nome da tabela
    <!-- colocar nome de tabela -->
  </h3>
  '<div class="table-responsive">
    <table class="table table-hover table-sm">
      <!--classe antiga -> table-striped-->
      <thead>
        <tr>
          <th>#</th>
          <th>Login</th>
          <th>Nome</th>
          <th>CPF</th>
          <th>Sexo</th>
          <th>Data de Nascimento</th>
          <th>Opções</th>
        </tr>
      </thead>
      <tbody>
        <!-- <tbody> -->
        <tr>
          <td>#</td>
          <td>Nome</td>
          <td>Sexo</td>
          <td>Date</td>
          <td>CPF</td>
          <td>Login</td>
          <td>Senha</td>
          <td class="row">
            <a class="btn btn-info btn-sm mr-1 text-white" title="Informações"><span class="fas fa-info fa-fw"></span></a>
            <a class="btn btn-secondary btn-sm mr-1 text-white" title="Editar"><span class="fas fa-pen fa-fw"></span></a>
            <form action="/pacientes/del/>" method="POST">
              <button class="btn btn-danger btn-sm mr-1 text-white" title="Excluir" type="submit"><span class="fas fa-trash-alt fa-fw"></span></button>
            </form>
          </td>
        </tr>
        <!-- </tbody> -->
      </tbody>
    </table>
  </div>'

</main>

<!--Rodapé-->
<%- include ./layouts/footer.ejs %>