<!--Cabecalho-->
<%- include layouts/header.ejs %>

<!-- Começo body - Corpo -->

<!-- Barra de navegação de cima - Usuario -->
<%- include layouts/nav-bar-top.ejs %>

<div class="container-fluid">
  <div class="row">

    <!-- Barra de navegação lateral -->
    <%- include layouts/nav-bar-left.ejs %>
    <!-- Começo do main - Conteúdo Principal -->
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
        <div
          class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
          <h1 class="h2">Aréa do Administrador.</h1>
          <hr class="mb-3">
        </div>

        <div>
          <p class="lead">Seja bem vindo.</p>
        </div>
        
    </main>
      

    <!-- Começo do main - Conteúdo Principal -->

  </div>
</div>

<!-- Fim do main -->

<!-- Rodapé -->
<%- include layouts/footer.ejs %>